
<div class="album">
    <img src="/music/album_0.jpg" alt="Chúng Ta Đều Muốn Một Thứ" />
    <div class="hover-info">
        <h3>Chúng Ta Đều Muốn Một Thứ</h3>
        <p>Cá Hồi Hoang</p>
        <p>11 Nov 2023 • </p>
    </div>
</div>

<div class="album">
    <img src="/music/album_1.jpg" alt="Nectar" />
    <div class="hover-info">
        <h3>Nectar</h3>
        <p>Joji</p>
        <p>06 Jun 2023 • alternative rnb, rnb, alternative</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_2.jpg" alt="Minecraft - Volume Alpha" />
    <div class="hover-info">
        <h3>Minecraft - Volume Alpha</h3>
        <p>C418</p>
        <p>09 Sep 2021 • ambient, impressionism, bit music</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_3.jpg" alt="Currents" />
    <div class="hover-info">
        <h3>Currents</h3>
        <p>Tame Impala</p>
        <p>03 Mar 2023 • psychedelic, psychedelic rock, psychedelic pop</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_4.jpg" alt="It's Raining After All" />
    <div class="hover-info">
        <h3>It's Raining After All</h3>
        <p>Tuyu</p>
        <p>Unknown • jpop, utaite, yakousei</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_5.jpg" alt="Hiệu Ứng Trốn Chạy (Deluxe Edition)" />
    <div class="hover-info">
        <h3>Hiệu Ứng Trốn Chạy (Deluxe Edition)</h3>
        <p>Cá Hồi Hoang</p>
        <p>12 Dec 2024 • pop rock, alternative rock, indie pop</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_6.jpg" alt="AM" />
    <div class="hover-info">
        <h3>AM</h3>
        <p>Arctic Monkeys</p>
        <p>11 Nov 2022 • indie rock, rock, indie</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_7.jpg" alt="GẤP" />
    <div class="hover-info">
        <h3>GẤP</h3>
        <p>Cá Hồi Hoang</p>
        <p>11 Nov 2023 • indie rock, alternative rock, pop rock</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_8.jpg" alt="Demon Days" />
    <div class="hover-info">
        <h3>Demon Days</h3>
        <p>Gorillaz</p>
        <p>07 Jul 2023 • alternative, electronic, hip-hop</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_9.jpg" alt="Minecraft - Volume Beta" />
    <div class="hover-info">
        <h3>Minecraft - Volume Beta</h3>
        <p>C418</p>
        <p>11 Nov 2020 • ambient, modern classical, electronic</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_10.jpg" alt="Madvillainy" />
    <div class="hover-info">
        <h3>Madvillainy</h3>
        <p>Madvillain</p>
        <p>10 Oct 2022 • hip-hop, hip hop, rap</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_11.jpg" alt="Nothing Happens" />
    <div class="hover-info">
        <h3>Nothing Happens</h3>
        <p>Wallows</p>
        <p>12 Dec 2022 • the rewind, wsum 91.7 fm madison, rock</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_12.jpg" alt="Vibes" />
    <div class="hover-info">
        <h3>Vibes</h3>
        <p>VACATIONS</p>
        <p>Unknown • indie, alternativa, jangle pop</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_13.jpg" alt="Angel Youth" />
    <div class="hover-info">
        <h3>Angel Youth</h3>
        <p>Vansire</p>
        <p>05 May 2021 • indie, indie pop, dream pop</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_14.jpg" alt="Plastic Beach" />
    <div class="hover-info">
        <h3>Plastic Beach</h3>
        <p>Gorillaz</p>
        <p>02 Feb 2023 • electronic, alternative, rock</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_15.jpg" alt="One Wayne G" />
    <div class="hover-info">
        <h3>One Wayne G</h3>
        <p>Mac DeMarco</p>
        <p>09 Sep 2024 • soft rock, ambient, bedroom pop</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_16.jpg" alt="OK Computer" />
    <div class="hover-info">
        <h3>OK Computer</h3>
        <p>Radiohead</p>
        <p>11 Nov 2022 • alternative, alternative rock, rock</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_17.jpg" alt="summer flows 0.02" />
    <div class="hover-info">
        <h3>summer flows 0.02</h3>
        <p>wave to earth</p>
        <p>Unknown • indie, indie rock, life changing</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_18.jpg" alt="Sugar Rush" />
    <div class="hover-info">
        <h3>Sugar Rush</h3>
        <p>Mèow Lạc</p>
        <p>Unknown • </p>
    </div>
</div>

<div class="album">
    <img src="/music/album_19.jpg" alt="I'll put you in misery" />
    <div class="hover-info">
        <h3>I'll put you in misery</h3>
        <p>Tuyu</p>
        <p>01 Jan 2025 • rock, japanese, power pop</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_20.jpg" alt="BALLADS 1" />
    <div class="hover-info">
        <h3>BALLADS 1</h3>
        <p>Joji</p>
        <p>12 Dec 2022 • alternative rnb, joji, rnb</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_21.jpg" alt="Interstellar (Original Motion Picture Soundtrack) [Expanded Edition]" />
    <div class="hover-info">
        <h3>Interstellar (Original Motion Picture Soundtrack) [Expanded Edition]</h3>
        <p>Hans Zimmer</p>
        <p>12 Dec 2024 • score, contemporary classical</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_22.jpg" alt="Hiệu Ứng Trốn Chạy" />
    <div class="hover-info">
        <h3>Hiệu Ứng Trốn Chạy</h3>
        <p>Cá Hồi Hoang</p>
        <p>12 Dec 2024 • pop rock, alternative rock, vietnam</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_23.jpg" alt="Making Steak" />
    <div class="hover-info">
        <h3>Making Steak</h3>
        <p>HYBS</p>
        <p>Unknown • </p>
    </div>
</div>

<div class="album">
    <img src="/music/album_24.jpg" alt="Flower Boy" />
    <div class="hover-info">
        <h3>Flower Boy</h3>
        <p>Tyler, The Creator</p>
        <p>01 Jan 2025 • rap, hip hop, hip-hop</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_25.jpg" alt="Metamodernity" />
    <div class="hover-info">
        <h3>Metamodernity</h3>
        <p>Vansire</p>
        <p>Unknown • americana, 2010s, americano</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_26.jpg" alt="ワンルームサバイバル" />
    <div class="hover-info">
        <h3>ワンルームサバイバル</h3>
        <p>Serani Poji</p>
        <p>Unknown • shibuya-kei, akishibu-kei, japanese</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_27.jpg" alt="To See the Next Part of the Dream" />
    <div class="hover-info">
        <h3>To See the Next Part of the Dream</h3>
        <p>Parannoul</p>
        <p>02 Feb 2024 • shoegaze, emo, post-rock</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_28.jpg" alt="Gieo" />
    <div class="hover-info">
        <h3>Gieo</h3>
        <p>Ngọt</p>
        <p>Unknown • </p>
    </div>
</div>

<div class="album">
    <img src="/music/album_29.jpg" alt="Favourite Worst Nightmare" />
    <div class="hover-info">
        <h3>Favourite Worst Nightmare</h3>
        <p>Arctic Monkeys</p>
        <p>03 Mar 2009 • indie rock, indie, british</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_30.jpg" alt="American Idiot" />
    <div class="hover-info">
        <h3>American Idiot</h3>
        <p>Green Day</p>
        <p>12 Dec 2018 • punk rock, rock, punk</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_31.jpg" alt="Who Really Cares" />
    <div class="hover-info">
        <h3>Who Really Cares</h3>
        <p>TV Girl</p>
        <p>04 Apr 2025 • indie pop, neo-psychedelia, 2016</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_32.jpg" alt="Twilight" />
    <div class="hover-info">
        <h3>Twilight</h3>
        <p>bôa</p>
        <p>05 May 2022 • anime, serial experiments lain, british</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_33.jpg" alt="MM..FOOD" />
    <div class="hover-info">
        <h3>MM..FOOD</h3>
        <p>MF DOOM</p>
        <p>10 Oct 2024 • hip-hop, hip hop, rap</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_34.jpg" alt="IGOR" />
    <div class="hover-info">
        <h3>IGOR</h3>
        <p>Tyler, The Creator</p>
        <p>01 Jan 2025 • neo-soul, psychedelic soul, experimental hip hop</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_35.jpg" alt="American Idiot (20th Anniversary Deluxe Edition)" />
    <div class="hover-info">
        <h3>American Idiot (20th Anniversary Deluxe Edition)</h3>
        <p>Green Day</p>
        <p>12 Dec 2024 • </p>
    </div>
</div>

<div class="album">
    <img src="/music/album_36.jpg" alt="Changes" />
    <div class="hover-info">
        <h3>Changes</h3>
        <p>VACATIONS</p>
        <p>01 Jan 2025 • roblox, furry, aussie</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_37.jpg" alt="After Hours" />
    <div class="hover-info">
        <h3>After Hours</h3>
        <p>The Weeknd</p>
        <p>11 Nov 2024 • synthpop, synthwave, rnb</p>
    </div>
</div>

<div class="album">
    <img src="/music/album_38.jpg" alt="ANTICYCLONE" />
    <div class="hover-info">
        <h3>ANTICYCLONE</h3>
        <p>inabakumori</p>
        <p>Unknown • </p>
    </div>
</div>

<div class="album">
    <img src="/music/album_39.jpg" alt="The Slow Rush" />
    <div class="hover-info">
        <h3>The Slow Rush</h3>
        <p>Tame Impala</p>
        <p>12 Dec 2020 • psychedelic, psychedelic pop, metal</p>
    </div>
</div>
