
    <h2><i>"Cuộc đời còn bao nhiêu điều mình sẽ mãi chưa làm"</i></h2>
    <section id="button">
        <img src="{{ get_url(path="/button/k4ahr.gif") }}" title="My webring button, use this if you want to add me to your website." style="display: inline-block;" width="88">
        <a href="https://www.youtube.com/watch?v=9mA7h1jfxc8"><img src="{{ get_url(path="/button/ngot.gif") }}" style="display: inline-block;" width="88"></a>
        <img src="{{ get_url(path="/button/cinnamonroll.gif") }}" style="display: inline-block;" width="88">
        <img src="{{ get_url(path="/button/insanity.gif") }}" style="display: inline-block;" width="88">
        <img src="{{ get_url(path="/button/miku.gif") }}" style="display: inline-block;" width="88">
    </section>

    <p id="changelog">&copy; 2024 K4ahr, <a href="https://gitlab.com/K4ahr/zola-site">open-sourced</a> under the <a href="https://opensource.org/license/mit">MIT License</a></p>
    <p>Made using <a rel="noopener noreferrer" href="https://github.com/Speyll/anemone" target="_blank">anemone</a> Zola theme</p>
  